.navbar {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.content {
    padding-top: 30px !important;
}

.footer {
    margin-top: 80px !important;
}

.card {
    width: 20rem;
    border: none;
    background-color: transparent !important;
}

.tambah {
    display:block;
    position:absolute; 
    right:0;
    border-radius: 10px;
    font-size:10x;
    text-align:center;
    width:100px; 
    margin-right:150px;
    cursor: pointer;

}

.tambah:hover {
    transition: all 1s ease;
    border: 2px solid #FD7D24;
}

.card-img-top {
    border: 2px solid #2c65b5 !important;
}

.card-img-edit {
    cursor:pointer;
    position:absolute;
    border-radius:7px;
    max-width: 40px;
    padding:5px;
    top:4px;
    right:5px;
    max-height: 40px;
}

.card-img-edit:hover{
    transform: scale(1.1);
}

.card-img-delete:hover{
    transform: scale(1.1);
}

.card-img-delete {
    cursor:pointer;
    position:absolute;
    background-color: #198CDC;
    border-radius:50%;
    max-width: 30px;
    bottom:95px;
    right:5px;
    padding: 5px;
    max-height: 30px;
    object-fit:cover;
}

.mid-image {
    display: flex !important;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.toast {
    margin-right: 50px;
    margin-top: 50px;
}

.details {
    font-family: 'Oregano', cursive;
    font-size: 30px;
    max-width: 500px;
    max-height: 500px;
    padding-bottom: 20px;
}

.title {
    font-family: 'Bangers', cursive;
    font-size:65px;
}